{% include 'components/modals/modals_system.html' %} {% include 'components/modals/CountyManagement.html' %}
{% include 'components/modals/StateManagement.html' %}
{% include 'components/modals/UserManagement.html' %}

{% include 'components/modals/InitialPreparation.html' %}
{% include 'components/modals/DataCleanup.html' %}
{% include 'components/modals/SetupEDataTable.html' %}
{% include 'components/modals/SetupKeliTables.html' %}
{% include 'components/modals/InitialKeliLinkup.html' %}
{% include 'components/modals/EDataErrors.html' %}
{% include 'components/modals/ImportEDataErrors.html' %}
{% include 'components/modals/UnindexedImages.html' %}
{% include 'components/modals/InstrumentTypeCorrections.html' %}

{% include 'components/modals/AlterDatabaseFields.html' %}
{% include 'components/modals/OpenDriveConnection.html' %}
{% include 'components/modals/PatchManager.html' %}
{% include 'components/modals/DatabaseCompatibility.html' %}
{% include 'components/modals/SetupDatabaseProcedures.html' %}