{% include 'components/scripts/scripts_core.html' %}
{% include 'components/scripts/sidebar_scripts.html' %}

{% include 'components/scripts/CountyManagement.html' %}
{% include 'components/scripts/StateManagement.html' %}
{% include 'components/scripts/UserManagement.html' %}

{% include 'components/scripts/InitialPreparation.html' %}
{% include 'components/scripts/DataCleanup.html' %}
{% include 'components/scripts/SetupEDataTable.html' %}
{% include 'components/scripts/SetupKeliTables.html' %}
{% include 'components/scripts/InitialKeliLinkup.html' %}
{% include 'components/scripts/EDataErrors.html' %}
{% include 'components/scripts/ImportEDataErrors.html' %}
{% include 'components/scripts/UnindexedImages.html' %}
{% include 'components/scripts/InstrumentTypeCorrections.html' %}

{% include 'components/scripts/AlterDatabaseFields.html' %}
{% include 'components/scripts/OpenDriveConnection.html' %}
{% include 'components/scripts/PatchManager.html' %}
{% include 'components/scripts/DatabaseCompatibility.html' %}
{% include 'components/scripts/SetupDatabaseProcedures.html' %}

{% include 'components/scripts/map_logic.html' %}
{% include 'components/scripts/blueprint_loader.html' %}